@charset "UTF-8";       

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../images/fundo.png) repeat-x;
}

ul {
    list-style: none;
}

body.home li a#home {
    color: #fff;
    background: #de003e;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

body.brasil li a#brasil,
body.internacional li a#internacional,
body.economia li a#economia,
body.saude li a#saude,
body.ciencias li a#ciencias {
    color: #fff;
    background: #de003e;
}

body.fotos li a#fotos {
    color: #fff;
    background: #de003e;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

header, main {
    align-items: center;
    width: 750px;
    height: 200px;
    margin: 0 auto;
}

header ul {
    display: flex;
    justify-content: space-around;
    position: relative;
    bottom: 120px;
    list-style: none;
    background: #b10333;
    width: 600px;
    border-radius: 10px;
}

header ul a {
    display: block;
    padding: 0.5em 1.2em;
    line-height: 2.1em;
    font-size: 0.9em;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    background: url(../images/divisor.png) no-repeat left center;
}

header ul a:hover {
    color: #69001d; 
}

header ul li.primeiro a {
    background: none;  
}

header figure.logo {
    position: relative;
    top: 30px;
    height: 66px;
    width: 152px;
}

header figure.detalhe-mapa {
    position: relative;
    left: 550px;
    bottom: 60px;
    height: 180px;
    width: 200px;
}

main {
    margin-top: 40px;
    margin-bottom: 20px;
}

main section#primario {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

main section#secundario {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}

main section#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

main section#lateral ul li a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

main section#lateral ul li a:hover {
    background: #f9f9f9 url(../images/marcador.png) no-repeat left center;
    color: #a1a1a1;
    padding-left: 20px;
}

main section.caixa {
    margin: 10px 0;
    padding: 5px;
    background: #f3f3f3 url(../images/fundo-caixa.png);
}

main section.caixa h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

main section.caixa-conteudo {
    background: #fff; 
    padding: 5px; 
    margin-top: 5px;
}

label {
    display: block;
    cursor: pointer;
}

input {
    margin: 2px;
    width: 160px;
    padding: 5px;
    font-size: 0.9em;
    background: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    cursor: pointer;
}

img.imagem-principal {
    width: 98%;
    border: 3px solid #dfdfdf;
}

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.destaque h3 {
    background: #b10333;
    color: #fff;
}

.entrevista h3 {
    background: #de003e;
    color: #fff;
}

p {
    text-align: justify;
}

#lista-noticias li{
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 65px;
}

#lista-noticias li:hover {
    background: #eee;
    cursor: pointer;
}

#lista-noticias li a img {
    float: left;
    margin: 5px;
}

#lista-noticias li a h3 {
    font-size: 1.2em;
    padding: 0;
    color: #3e7ab9;
}

#lista-noticias li a {
    text-decoration: none;
    font-size: 0.7em;
}

footer {
    clear: both;
    background: #294c71;
    padding:  20px;
}

footer p {
    text-align: center;
    margin: auto;
    width: 750px;
    color: #fff;
}